*{
    transition: ease-in .4s all;
}

.nasa{
    margin: auto;
    width: 200px;
    position: relative;
    top: 150px;
}
.nasa div{
    opacity: 0;
    border: dashed;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.nasa span:hover +div{
 opacity: 1;
}
.nasa span{
    color: red;
    font-size: 1.4em;
    text-decoration: underline red;
}
